<main>
  <h1>Forecast Results</h1>

  <p>
    Postal/ZIP: <%= @resolved_postal_code.presence || "n/a" %><br>
    Coordinates: <%= @resolved_lat %>, <%= @resolved_lon %><br>
    Cache key: <code><%= @cache_key %></code>
  </p>

  <section id="forecast-results">
    <h2>Results</h2>
    <div>
      Forecast data will render here.
    </div>
  </section>

  <p style="margin-top: 16px;">
    <%= link_to "Search again", new_forecast_path %>
  </p>
</main>
